<section><!-- Inicio da Section -->
	<div class="container form_criar">
		<h1>Criar uma conta no SocialBlog</h1>
		<form method="POST">
			<div class="form-group">
				<label for="form_nome">Nome</label>
				<input type="text" class="form-control" name="nome" id="form_nome" placeholder="Digite o seu nome">
			</div>
			<div class="form-group">
				<label for="form_email">E-mail</label>
				<input type="email" class="form-control" name="email" id="form_email" placeholder="Digite o seu E-mail">
			</div>
			<div class="form-group">
				<label for="form_senha">Senha</label>
				<input type="password" class="form-control" name="senha" id="form_senha" placeholder="Digite uma Senha">
			</div>
			<div class="form-group">
				<label for="form_temas">Escolha um tema</label>
				<select class="form-control" name="tema" id="form_temas">
					<option value="1">Geral</option>
					<option value="2">Lazer</option>
					<option value="3">Comida</option>
					<option value="4">Viagem</option>
					<option value="5">Entretenimento</option>
					<option value="6">Tecnologia</option>
				</select>
			</div>
			<div class="form-group criar_botao">
				<input type="submit" class="btn btn-primary" value="Criar SocialBlog">
			</div>
		</form>
	</div>
</section><!-- Fim da Section -->