<section><!-- Inicio da Section -->
	<div class="container form_criar">
		<h1>Entrar no SocialBlog</h1>
		<form method="POST" action="/index/acessar">
			<div class="form-group">
				<label for="form_email">E-mail</label>
				<input type="email" class="form-control" name="email" id="form_email" placeholder="Digite o seu E-mail">
			</div>
			<div class="form-group">
				<label for="form_senha">Senha</label>
				<input type="password" class="form-control" name="senha" id="form_senha" placeholder="Digite uma Senha">
			</div>
			<div class="form-group criar_botao">
				<input type="submit" class="btn btn-primary" value="Entrar">
			</div>
		</form>
	</div>
</section><!-- Fim da Section -->