<section><!-- Inicio da Section -->
	<div id="banner"><!-- Inicio do Banner -->
		<div class="container-fluid conteudo_banner">
			<h1>SocialBlog é um blog e uma rede social</h1>
			<h4>Uma rede social de blogueiros</h4>
			<p>Faça o cadastro e escolha um tema. Escreva Sobre esse tema e compartilhe</p>
		</div>
	</div><!-- Fim do banner -->
	<div class="container-fluid conteudo"><!-- Inicio do conteudo -->
		<div class="conteudo_ideias">
			<div class="imagem_ideia">
				<img src="/img/faixa2.png"/>
			</div>
			<div class="ideias">
				<h1>Um blog onde você pode colocar suas idéias</h1>
				<p>
					Faça como milhares de pessoas e comece agora mesmo. <br>
					Jogue todas as suas idéias. Importantes ou não. <br>
					Sempre vai existir alguém para ler sobre o que você tem a dizer
				</p>
			</div>
		</div>
		<div style="clear: both"></div>
		<div class="conteudo_temas">
			<div class="imagem_tema">
				<img src="/img/faixa1.jpg"/>
			</div>
			<div class="temas">
				<h1>Escolha um tema</h1>
				<p>
					Faça como milhares de pessoas e comece agora mesmo. <br>
					Jogue todas as suas idéias. Importantes ou não. <br>
					Sempre vai existir alguém para ler sobre o que você tem a dizer
				</p>
			</div>
		</div>
		<div style="clear: both"></div>
	</div><!-- Fim do conteudo -->
	<div class="container acessar"><!-- Inicio do acessar-->
		<h1>Entre e veja como é fácil</h1>
		<p>Clique no botão abaixo</p>
		<a href="/criar"><button class="btn btn-outline-primary">Entrar</button></a>
	</div><!-- Fim do acessar -->
	<div class="pessoas">
		<div class="container relacao">
			<h1>Aqui você segue blogs, não pessoas!</h1>
			<h4>
				Bem...você segue pessoas, mas não diretamente! <br>
				É só clicar em seguir que o blog vai aparecer <br>
				no seu feed de noticias diárias.
			</h4>
		</div>
	</div>
</section><!-- Fim da Section -->

