<div class="container" id="paginaPost"><!-- Inicio do container-->
	<section>
		<div class="row">
			<div class="col" id="perfilUsuario">
				<h6>Nome do Slug</h6>
				<h1>Título do Post</h1>
				<div class="row">
					<div class="col-5">
						<img src="../public/img/man.png" alt="user">
					</div>
					<div class="col-7">
						<h3>Nome do Autor</h3>
						<p>01/01/2001 - 00:00</p>
						<button class="btn btn-outline-info botaoTopo">Seguir</button>
					</div>
				</div>
			</div>
			<div class="col PostBanner">
				<img src="../public/img/banner.jpg" alt="" >
			</div>
		</div>
		<div id="conteudoDoPost">
			<div class="row">
			<div class="col-3">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<h3>Postagens Anteriores</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
					</li>
					<li class="list-group-item">
						<h3>Postagens Anteriores</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
					</li>
					<li class="list-group-item">
						<h3>Postagens Anteriores</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
					</li>
				</ul>
			</div>
			<div class="col-9">
				<div class="textoPost">
					<h4>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac volutpat enim, semper dictum nulla. Aenean eu metus placerat, blandit dolor nec, molestie nisi. Mauris ut mauris pharetra, sollicitudin nibh bibendum, tristique velit. Etiam est eros, fringilla non varius in, luctus rutrum massa. Praesent mollis enim sed ligula blandit mollis. Aliquam quis orci dolor. Phasellus quis venenatis magna, nec posuere magna. In accumsan porttitor est, vel vehicula urna fermentum in. Pellentesque ut gravida odio. Vestibulum justo magna, auctor at eleifend id, feugiat quis magna. Proin tincidunt auctor tellus eget vehicula. Pellentesque molestie justo sit amet cursus rhoncus. Mauris vel lorem neque. Fusce in erat interdum, tincidunt risus sit amet, finibus erat. Sed volutpat erat a condimentum aliquam.
						<br><br>
						In nec sem suscipit, suscipit mi sit amet, semper risus. Cras et sagittis lorem. Proin pharetra dignissim efficitur. Pellentesque at tincidunt mauris. Cras nunc erat, maximus et nisi vitae, tristique pharetra erat. Quisque tempus nulla leo, non eleifend turpis fermentum a. Donec porttitor odio id nulla lobortis placerat. Quisque at fermentum sem. Sed consectetur ligula nisi, a interdum dui mollis sit amet. Proin purus lacus, dignissim sed massa eu, vestibulum volutpat lacus. Mauris id feugiat neque, id feugiat risus. Maecenas nec congue libero. Donec turpis massa, dapibus et mollis ut, lacinia sed arcu. Mauris massa lectus, fringilla ac leo at, suscipit fringilla quam. Fusce pulvinar placerat neque nec porta. Vivamus scelerisque eget orci eu elementum.
						<br><br>
						Etiam auctor malesuada dui hendrerit tincidunt. Vivamus bibendum libero eget mi mattis convallis. Cras ac tincidunt felis. Sed eget felis a est efficitur efficitur. Sed semper lectus turpis, a consequat purus imperdiet non. Praesent maximus sagittis risus in hendrerit. Sed id nibh ex. Aliquam blandit porttitor diam vitae dictum. Pellentesque vestibulum posuere mollis.
						<br>
						Nunc et bibendum quam. Vestibulum porta posuere lacus quis gravida. Integer turpis arcu, laoreet in tortor nec, tincidunt ullamcorper velit. Ut vitae dolor maximus, fermentum nibh quis, condimentum urna. In at mollis lectus. Phasellus tempor, diam eget egestas condimentum, felis est tincidunt erat, luctus tempus tortor elit eget diam. Sed vel augue quis augue tempus venenatis ultricies sed quam. Aliquam auctor mauris vel dapibus eleifend. Morbi sit amet enim sit amet nibh ornare efficitur sit amet suscipit velit.
						<br>
						<br>
						Suspendisse libero elit, varius non varius sed, congue sed elit. In interdum justo vitae gravida accumsan. Donec ex velit, posuere commodo pellentesque sed, aliquam sed tortor. Fusce pharetra orci erat, eget feugiat libero tincidunt ut. Mauris malesuada fermentum tincidunt. Quisque sed nulla aliquam, bibendum nulla vitae, pulvinar sapien. Mauris fringilla tempus tellus, vel laoreet metus luctus at. Nullam sit amet eros auctor, aliquet dui ac, mollis mi.
					</h4>
				</div>
				<div id="social">
					<div id="happy">
						<img src="/img/happy.png" alt=""> <span>Gostei: 1k</span>
					</div>
					<div id="redeSocial">
						<ul>
							<li><img src="/img/facebook.png" alt=""></li>
							<li><img src="/img/twitter.png" alt=""></li>
						</ul>
					</div>
				</div>
				<div id="perfilUsuario">
					<div class="row">
						<div class="col-5">
							<img src="/img/man2.png">
						</div>
						<div class="col-7">
							<h2>Nome do Perfil</h2>
							<h5>Suspendisse libero elit, varius non varius sed, congue sed elit. In interdum justo vitae gravida accumsan. Donec ex velit, posuere commodo pellentesque sed, aliquam sed tortor. Fusce pharetra orci erat, eget feugiat libero tincidunt ut. Mauris malesuada fermentum tincidunt.</h5>
							<button class="btn btn-outline-info">Seguir</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>		
</div><!-- Fim do container-->
<section>
	<div class="ultimosPosts">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="anteriorTexto">
						<h2>Título do último post</h2>
						<h6>Suspendisse libero elit, varius non varius sed, congue sed elit. In interdum justo vitae gravida accumsan...</h6>
					</div>
				</div>
				<div class="col">
					<div class="anteriorImg">
						<img src="/img/faixa1.jpg" alt="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="anteriorImg">
						<img src="/img/faixa1.jpg" alt="">
					</div>
				</div>
				<div class="col">
					<div class="anteriorTexto">
						<h2>Título do último post</h2>
						<h6>Suspendisse libero elit, varius non varius sed, congue sed elit. In interdum justo vitae gravida accumsan...</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="postAnterior">
				<ul>
					<li>
						<div class="card" style="width: 18rem;">
							<img src="/img/faixa2.png" class="card-img-top" alt="">
							<div class="card-body">
								<h5 class="card-title">Título</h5>
								<p class="card-text">Suspendisse libero elit, </p>
							</div>
						</div>
					</li>
					<li>
						<div class="card" style="width: 18rem;">
							<img src="/img/faixa2.png" class="card-img-top" alt="">
							<div class="card-body">
								<h5 class="card-title">Título</h5>
								<p class="card-text">Suspendisse libero elit, </p>
							</div>
						</div>
					</li>
					<li>
						<div class="card" style="width: 18rem;">
							<img src="/img/faixa2.png" class="card-img-top" alt="">
							<div class="card-body">
								<h5 class="card-title">Título</h5>
								<p class="card-text">Suspendisse libero elit, </p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>