<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SocialBlog</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap" rel="stylesheet">
</head>
<body>
    <header><!-- Inicio do Header-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light"><!-- Inicio do nav -->
            <a class="navbar-brand" id="logo" href="/">SocialBlog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarConteudo" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarConteudo">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/entrar" class="nav-link">Entrar</a>
                    </li>
                    <li class="nav-item">
                        <a href="/criar" class="nav-link" id="conta">Criar conta</a>
                    </li>
                </ul>
            </div>
        </nav><!-- Fim do Nav -->
    </header><!-- Fim do Header-->
    
    {{{body}}}

<footer><!-- Inicio do footer-->
	<div class="container rodape">
		<div class="row informacoes">
			<div class="col mt-4">
				<h5>Sobre SocialBlog</h5>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Nulla mauris lectus, condimentum nec sem ut, <br>luctus mollis sem. Mauris tincidunt eros augue, <br>eget lacinia lectus porttitor a. 
				</p>
			</div>
			<div class="col mt-4">
				<h5>Seu SocialBlog</h5>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Nulla mauris lectus, condimentum nec sem ut, <br>luctus mollis sem. Mauris tincidunt eros augue, <br>eget lacinia lectus porttitor a. 
				</p>
			</div>
			<div class="col mt-4">
				<h5>Entre no SocialBlog</h5>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Nulla mauris lectus, condimentum nec sem ut, <br>luctus mollis sem. Mauris tincidunt eros augue, <br>eget lacinia lectus porttitor a. 
				</p>
			</div>
		</div>
		<div class="row final">
			<div class='col'>
				<span>SocialBlog - AndrewDeveloper &copy; Todos os direitos reservados 2019</span>
			</div>
			<div class="col" id="sobre">
				<div class="informacoes_sobre">
					<ul>
						<li>Sobre</li>
						<li>Ajuda</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer><!-- Fim do footer-->
    <script src="/js/jquery-3.4.1.min.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>